<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Explore tilde.club</title>
        <meta name="author" content="~tweska">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Explore <a href="https://tilde.club/">tilde.club</a></h1>
        <p><a href="index.html">index</a></p>
        <p>
            <a href="a.html">A</a>
            <a href="b.html">B</a>
            <a href="c.html">C</a>
            <a href="d.html">D</a>
            <a href="e.html">E</a>
            <a href="f.html">F</a>
            <a href="g.html">G</a>
            <a href="h.html">H</a>
            <a href="i.html">I</a>
            <a href="j.html">J</a>
            <a href="k.html">K</a>
            <a href="l.html">L</a>
            <a href="m.html">M</a>
            <a href="n.html">N</a>
            <a href="o.html">O</a>
            <a href="p.html">P</a>
            <a href="q.html">Q</a>
            <a href="r.html">R</a>
            <a href="s.html">S</a>
            <a href="t.html">T</a>
            <a href="u.html">U</a>
            <a href="v.html">V</a>
            <a href="w.html">W</a>
            <a href="x.html">X</a>
            <a href="y.html">Y</a>
            <a href="z.html">Z</a>
            <a href="other.html">?</a>
        </p>
        <p class="content">Hello there fellow internet user! You are about to
            explore the tilde.club community using a revolutionary tool!
            Every day I take over 1000 screenshots by hand (okay, that might be
            a lie) of all personal tilde.club pages that have been changed from
            the default page.
        </p>
        <p class="content">
            All pages are ordered by alphabetic order, you can click one of the
            characters in the menu above to see all pages belonging to users
            with names starting with the coresponding character.
        </p>
        <p class="content">
            The <a href="changed_usernames.txt">list of usernames</a> is made
            publicly available. There is also a zip file with 
            <a href="screenshots.zip">all the screenshots</a>. The source code
            of the used scripts will be made available soon.
        </p>
        <p class="content">
            You can message <code>/msg tweska</code> on <a href="https://tilde.chat/">IRC</a>
            if you have problems or want to give feedback.
        </p>
        <p>Made by <a href="https://tilde.club/~tweska">~tweska</a></p>
        <a href="https://tilde.club/"><img src="static/tildeclub.gif"></a>
    </body>
</html>
